# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables (Sensitive data)
.env

# VS Code specific
.vscode/

# Zed
.zed

# Zed Python settings
pyrightconfig.json
ruff.toml


# Distribution / packaging
dist/
build/
*.egg-info/
